body{
    background-color: #f4f4f4;
}
  
header{
    background-color: gray;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}
  
section {
    margin-bottom: 20px;
}
  
  
#mi-lista1 li{
    padding-bottom: 10px;
    margin-bottom: 10px;
}
  
a{
    color: blue
}